.main {
    padding: 16px;
    background: #4a5274;
    padding: 45px;
}

.text {
    color: white;
    text-align: center;
    margin-top: 10px;
}

.red-diamond {
    border: solid red;
    display: inline-block;
    height: 25px;
    text-align: center;
    transform:rotate(45deg);
    width:25px;
    margin: 15px;
}

.blue-diamond {
    border: solid blue;
    display: inline-block;
    height: 25px;
    text-align: center;
    transform:rotate(45deg);
    width:25px;
    margin: 15px;
}

.btn-column {
    margin-top: 10px;
}

.red-success {
    background: red;
}

.blue-success {
    background: blue;
}

.failure {
    background: #c2bbb5;
}

.refresh {
    margin-left: 30px;
    margin-top: 10px;
}